 $font-size: 14px;
 $font-size--h1: 52px;
 $font-size--h1--mob: 30px;
 $font-size--h2: 24px;
 $font-size--h2--mob: 18px;
 $font-size--h3: 22px;
 $font-size--h4: 18px;
 $font-size--logo: 20px;
 $font-size--footer-logo: 16px;
 $font-family--mont: 'Montserrat',
 sans-serif;
 $font-family--roboto: 'Roboto',
 sans-serif;
 $line-height: 20px;
 $white: #ffffff;
 $black: #000000;
 $red: #FF4D4F;
 $yellow: #FFA600;
 $green: #00D8AC;
 $blue: #3474DF;
 $text-color: #666666;
 $link-color: #ffffff;
 $text-color-heading: #333333;
 $xs-width: 320px;
 $sm-width: 768px;
 $md-width: 960px;
 $lg-width: 1440px;